@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=呼んで&preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Geologica?preview.text=Yonde&preview.size=52&preview.text_type=custom);

:root {
    --dark-green: #1a340d;
    --light-green: #7a938c;
    --light-gray: #f1f1f1;
    --gray: #b8b8b8;
    --dark-gray: #818181;
    --main-font: 'Geologica', sans-serif; 
}

.grid-container {
    background-color: var(--dark-gray);
    width: 100%;
    max-width: 95%; /* Adjust the max-width value as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 0;
  }
  

.grid-x {
    background-color: var(--light-gray);
}

.bg {
    background-image: url(bg1.png), url(bg2.png);
    background-position-x: left, right;
    background-repeat: repeat-y, repeat-y;
}

.cell.medium-8 {
    font-weight: 300;
    background-color: white;
    width: 85%;
    margin-bottom: 10px;
    padding: 13px;
    padding-right: 0.5in;
    padding-left: 0.3in;
}

@media (max-width: 768px) {
    .bg {
        background-image: none;
    }
    .cell.medium-8 {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.avatar-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
}

.fa-circle-user {
    color: var(--dark-gray);
    margin-right: 10px;
    font-size: 30px;
}

.avatar-name {
    font-weight: 300;
    color: var(--gray);
    font-size: 12px;
    margin-right: 50px;
}

.bi-pencil-square {
    color: var(--gray);
    padding: 0;
}

.bi-pencil-square:hover {
    color: var(--dark-gray);
    transition: 0.3s ease-in-out;
}

.post-title {
    font-weight: 600;
    font-size: 22px;
    margin: 15px 0px;
    line-height: normal;
}

.post-text {
    font-weight: 200;
    font-size: 14px;
    padding-right: 20px;
    margin-bottom: 15px;
    line-height: normal;
}

.fa-sort-up, .fa-sort-down {
    color: var(--gray);
    font-size: 40px;
    margin: 0px 20px;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 50px;
    background-color: var(--dark-green);
    color: white;
    font-size: 13px;
    font-weight: 300;
    width: 85%;
    height: 0.5in;
    margin: 15px 0px;
    padding: 10px 25px;
}

.create-button:hover {
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark-green);
    color: var(--dark-green);
    transition: 0.3s ease-in-out;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#popup_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px var(--dark-green);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in 0ms,
                transform 20ms ease-in-out 0ms;
}

/*
#popup_login.active{
    transform: translate(-50%, -50%) scale(1.25);
    opacity: 0;
    visibility: hidden;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in 0ms,
                transform 20ms ease-in-out 0ms;
}
*/

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: var(--light-green);
    color: #eee;
    line-height: 15px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.popup h1{
    text-align: center;
    color: var(--dark-green);
    margin: 10px 0px 20px;
    font-size: 25px;
    font-family: var(--main-font);
    font-weight: bold;
}

.login-form .elements{
    margin: 15px 0px;
}

.elements label{
    font-size: 14px;
    color: black;
}

.elements #username, #password{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 14px;
}

.elements input[type="checkbox"]{
    margin-right: 1px;
    padding: 0;
}

 #submit{
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    background: var(--dark-green);
    color: var(--light-gray);
    border-radius: 13px;
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: bold;
}

.elements a{
    display:block;
    text-align: right;
    font-size: 10px;
    color:var(--dark-green);
    text-decoration: none;
    line-height: 2;
    font-weight: 600;
}

#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup_login.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transform: 0.5s;
}