@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=呼んで&preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Geologica?preview.text=Yonde&preview.size=52&preview.text_type=custom);

:root {
    --dark-green: #1a340d;
    --light-green: #7a938c;
    --light-gray: #f1f1f1;
    --gray: #b8b8b8;
    --dark-gray: #818181;
    --main-font: 'Geologica', sans-serif;
}

.postBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    margin: 30px 0px;
    width: 85%;
    height: 5in;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: var(--dark-green);
    font-size: 15px;
    color: black;
}

.line {
    position: relative;
    background-color: var(--dark-green);
    margin-top: 0.5in;
    width: calc(100% + 20px);
    height: 2px;
    margin-left: -10px;
    margin-right: -10px;
}

@media (max-width: 768px) {
    .bg {
        background-image: none;
    }

    .cell.medium-8 {
        padding-right: 10px;
        padding-left: 10px;
    }
}