@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=呼んで&preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Geologica?preview.text=Yonde&preview.size=52&preview.text_type=custom);

:root {
    --dark-green: #1a340d;
    --light-green: #7a938c;
    --light-gray: #f1f1f1;
    --gray: #b8b8b8;
    --dark-gray: #818181;
    --main-font: 'Geologica', sans-serif; 
}

*{
    box-sizing: border-box;
}

body{
    font-family: var(--main-font);
    font-size: 16px;
    color: black;
}

.container{
    background-color: white;
    border: solid 1px (--light-gray);
    margin: auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: var(--dark-green);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 430px;
}

.container::before{
    background-image: ;
}