@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=呼んで&preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Geologica?preview.text=Yonde&preview.size=52&preview.text_type=custom);

:root {
    --dark-green: #1a340d;
    --light-green: #7a938c;
    --light-gray: #b8b8b8;
    --dark-gray: #b8b8b8;
    --main-font: 'Geologica', sans-serif; 
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
.navbar {
    margin: 0;
    background-color: var(--dark-green);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1in;
    padding-right: 1in;
    transition: 0.4s ease;
}

/* Yonde */
.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

/* 読んで */
.kanji {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

/* A Sports Anime Forum */
.tagline {
    font-size: 15px;
    font-style: normal;
    color: var(--light-green);
    padding-left: 10px;
}

/* @media to remove elements when window size is small */
@media (max-width: 768px) {
    .tagline {
        display: none;
    }
}

@media (max-width: 500px) {
    .kanji {
        display: none;
    }
}

/* For shrink on scroll */
.navbar.shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* For shrink on scroll */
.navbar.shrink .navbar-brand,
.navbar.shrink .kanji,
.navbar.shrink .tagline,
.navbar.shrink .nav-link,
.navbar.shrink .form-control,
.navbar.shrink .fa-search,
.navbar.shrink .fa-bars,
.navbar.shrink .rounded-pill {
    transition: all 0.4s ease;
}

/* For shrink on scroll */
.navbar.shrink .navbar-brand {
    font-size: 20px;
}

/* For shrink on scroll */
.navbar.shrink .kanji,
.navbar.shrink .tagline,
.navbar.shrink .navbar-nav .nav-link,
.navbar.shrink .form-inline .form-control,
.navbar.shrink .form-inline .fa-search {
    font-size: 10px;
}

/* For shrink on scroll */
.navbar.shrink .form-inline .form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.8cm;
    margin-top: 6px;
    margin-bottom: 5px;
}

/* For shrink on scroll */
.navbar.shrink .navbar-nav .rounded-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.5cm;
    margin-top: 6px;
    margin-bottom: 5px;
}

/* For shrink on scroll */
.navbar.shrink .navbar-toggler .fa-bars {
    font-size: 12px;
}

/* Bar icon color when menu is open */
.navbar-toggler:not(.collapsed) .fa-bars {
    color: var(--light-green);
    transition: 0.3s ease-out;
}

/* Bar icon orig color */
.navbar-toggler.collapsed .fa-bars {
    color: white;
}

/* Bar icon color on hover */
.navbar-toggler:hover .fa-bars {
    color: var(--light-green);
    transition: 0.3s ease-in-out;
}
  
/* (Bootstrap component) Button for menu */
.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-style: none;
}


.nav-item, .nav-link {
    color: white;
    font-size: 15px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--light-green);
}

/* All .btn-underline is for the design of Home */
.btn-underline {
    position: relative;
    color: white;
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
}
  
.btn-underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--light-green);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom left;
}
  
.btn-underline:hover, .btn-underline:focus {
    color: var(--light-green);
}
  
.btn-underline:hover::before, .btn-underline:focus::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Login */
.rounded-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--dark-green);
    font-weight: 200;
    width: 1.2in;
    height: 0.8cm;
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Design of Login button */
.btn-primary:hover, .btm-primary:focus ,.btn-primary:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
}

/* Magnifying glass icon */
.fa-search {
    position: absolute;
    color: var(--light-green);
    font-size: 13px;
}

/* Search bar */
.form-inline {
    position: relative;
}

.form-inline i.fa-search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.form-inline input[type="search"] {
    padding-left: 40px;
}

.form-control, .form-control:hover, .form-control:active, .form-control:focus {
    border-radius: 50px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-green);
    text-align: left;
    width: 2.3in;
    margin: 0;
    color: var(--light-green);
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--light-green);
}

.form-inline input[type="search"]::-webkit-search-cancel-button,
.form-inline input[type="search"]::-webkit-search-clear-button {
    display: none;
}