@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=呼んで&preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Geologica?preview.text=Yonde&preview.size=52&preview.text_type=custom);

:root {
    --dark-green: #1a340d;
    --light-green: #7a938c;
    --light-gray: #b8b8b8;
    --dark-gray: #818181;
    font-family: var(--main-font);
}

header {
   background-color: #1a340d;
   font-family: 'Geologica', sans-serif;
   padding-top: 20px;
   padding-bottom: 20px;
   height: 100px;
}

.navbar-brand {
    color: white; /* Change the logo text color */
    font-size: 24px; /* Change the logo font size */
    font-weight: bold; /* Change the logo font weight */
    margin: auto;
  }