@import url(https://fonts.google.com/noto/specimen/Noto+Sans+JP?preview.text=呼んで&preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Geologica?preview.text=Yonde&preview.size=52&preview.text_type=custom);

:root {
    --dark-green: #1a340d;
    --light-green: #7a938c;
    --light-gray: #b8b8b8;
    --dark-gray: #818181;
    --main-font: 'Geologica', sans-serif; 
}

body {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    background-color: var(--dark-green);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1in;
    padding-right: 1in;
    transition: 0.4s ease;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.navbar.shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar.shrink .navbar-brand,
.navbar.shrink .kanji,
.navbar.shrink .tagline,
.navbar.shrink .nav-lin,
.navbar.shrink .form-control,
.navbar.shrink .fa-search,
.navbar.shrink .fa-bars {
    transition: all 0.4s ease;
}

.navbar.shrink .navbar-brand {
    font-size: 20px;
}

.navbar.shrink .kanji,
.navbar.shrink .tagline,
.navbar.shrink .navbar-nav .nav-link,
.navbar.shrink .form-inline .form-control,
.navbar.shrink .form-inline .fa-search {
    font-size: 10px;
}

.navbar.shrink .navbar-toggler .fa-bars {
    font-size: 12px;
}

.kanji {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

.tagline {
    font-size: 15px;
    font-style: normal;
    color: var(--light-green);
    padding-left: 10px;
}

.fa-bars {
    background-color: transparent;
    color: white;
    text-align: center;
}

.fa-bars:hover, .fa-bars:focus {
    color: var(--light-green);
    transition: color 0.3s ease-in-out;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-style: none;
}

.nav {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item, .nav-link {
    color: white;
    font-size: 15px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--light-green);
}

.btn-underline {
    position: relative;
    color: white;
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
}
  
.btn-underline::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--light-green);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom left;
}
  
.btn-underline:hover, .btn-underline:focus {
    color: var(--light-green);
}
  
.btn-underline:hover::before, .btn-underline:focus::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.rounded-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--dark-green);
    font-weight: 200;
    width: 1.2in;
    height: 0.8cm;
    margin-top: 3px;
    margin-bottom: 3px;
}

.btn-primary:hover, .btm-primary:focus ,.btn-primary:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
}

.fa-search {
    position: absolute;
    color: var(--light-green);
    font-size: 13px;
}

.form-inline {
    position: relative;
  }

.form-inline i.fa-search {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.form-inline input[type="search"] {
    padding-left: 40px;
}

.form-control, .form-control:hover, .form-control:active, .form-control:focus {
    border-radius: 50px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: var(--light-green);
    text-align: left;
    width: 2.3in;
    margin: 0;
    color: var(--light-green);
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--light-green);
}

.form-inline input[type="search"]::-webkit-search-cancel-button,
.form-inline input[type="search"]::-webkit-search-clear-button {
    display: none;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.image-container img {
    max-height: 100vh;
    max-width: 50vw;
    object-fit: contain;
}
  
.left-image {
    margin-right: auto;
}
  
.right-image {
    margin-left: auto;
}